/* Fijar el navbar en la parte superior */
.custom-navbar {
  background: linear-gradient(90deg, #8e8ccf, #A5D6A7); /* Un color suave y agradable */
/* background: linear-gradient(90deg, #4DD0E1, #FF8A80);*/
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadir una pequeña sombra */
  height: 100px; /* Ajusta la altura */

/* Estilo de los links */

  color: rgb(17, 16, 16);
  padding: 0;  /* Padding: arriba, derecha, abajo, izquierda */
  font-size: 20px;
  font-weight: 500;
  line-height: 40px; /* Ajustar la alineación vertical */
}
/* Cambiar el color de los links al hacer hover o cuando están activos */

.nav-link {
  color: rgba(6, 16, 9, 0.932);
}
.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #7d64ca; /* Un color para resaltar */
  text-decoration: underline; /* Subrayar cuando esté activo o al pasar el mouse */
}

/* Reducir el tamaño del logo */
.custom-navbar .navbar-brand img {
  max-height: 100%;
  width: auto;
}

.nav-link.favorito img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.nav-link.favorito img:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
  filter: brightness(150%); /* Aumenta el brillo */
}

.nav-link.carrito img {
  transition: transform 0.3s ease, filter 0.3s ease;
    margin-left: 10px; /* Añade un margen para separar si tienes más íconos */

}

.nav-link.carrito img:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
  filter: brightness(150%); /* Aumenta el brillo */
}
.nav-link.logout img:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
  filter: brightness(150%); /* Aumenta el brillo */
}
.nav-link.favorito,
.nav-link.carrito {
  float: right;
  margin-left: 10px; /* Para separar los iconos entre sí */
}

.nav {
  display: flex; /* Activa flexbox en el nav */
  justify-content: space-between; /* Espacia elementos a los extremos */
  align-items: center; /* Alinea verticalmente los elementos */
}

.ms-auto {
  margin-left: auto; /* Empuja este contenedor hacia la derecha */
  display: flex; /* Hace que el contenedor de íconos use flexbox */
  align-items: center; /* Alinea verticalmente los íconos */
}
